@import "styles/settings/__settings";

.postCard {
  position: relative;
  padding: 1.2em;
  color: inherit;
  text-align: left;
  text-decoration: none;

  & > a {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      h3 {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }
}

.postCardSticky {
  border: solid 0.02em $color-gray-100;
  border-radius: 1em;

  svg {
    position: absolute;
    top: 1.2em;
    right: 1em;
    font-size: 1.15em;
    color: $color-gray-300;
  }
}

.postCardTitle {
  margin: 0 0 1em 0;
  font-size: 1.5em;
}

.postCardContent {
  font-size: 1.25em;
  margin: 0;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.postCardMetadata {
  margin: -0.8em -0.8em 0.4em;
}

/* تنسيق حاوية الصورة */
.postCardImage {
  width: 100%;
  height: 250px; /* ارتفاع موحد لكل الصور */
  overflow: hidden;
  background-color: #f3f4f6; /* لون رمادي خفيف أثناء التحميل */
}

/* تنسيق الصورة نفسها */
.postCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* لملء المساحة دون تشويه */
  transition: transform 0.3s ease;
}

/* تأثير تكبير خفيف عند التحويم */
.postCardInner:hover .postCardImage img {
  transform: scale(1.05);
}

/* تعديل المحتوى النصي ليكون تحته */
.postCardContent {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}